@import "tailwindcss";

@theme inline {

  --linear-bg: linear-gradient(to bottom, var(--background), var(--surface));
  --width-2k: 2000px;
  --breakpoint-6xl: 2000px;
  --spacing-pads: 14rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);

  /* --- Button Colors Mapped for Tailwind v4 --- */
  /* This allows you to use classes like 'bg-btn-primary-base' */
  --color-btn-primary-base: var(--btn-primary-base);
  --color-btn-primary-border: var(--btn-primary-border);
  --color-btn-primary-surface: var(--btn-primary-surface);
  --color-btn-primary-text: var(--btn-primary-text);

  --color-btn-secondary-base: var(--btn-secondary-base);
  --color-btn-secondary-border: var(--btn-secondary-border);
  --color-btn-secondary-surface: var(--btn-secondary-surface);
  --color-btn-secondary-text: var(--btn-secondary-hover);
  --color-btn-secondary-hover: var(--btn-secondary-hover-border);
  --color-btn-secondary-hover-base: var(--btn-secondary-hover-base);

  --color-btn-tertiary-base: var(--btn-tertiary-base);
  --color-btn-tertiary-border: var(--btn-tertiary-border);
  --color-btn-tertiary-surface: var(--btn-tertiary-surface);
  --color-btn-tertiary-text: var(--btn-tertiary-text);



  /* Font Colors */
  --color-text-500: var(--text-500);
  --color-text-on-primary: var(--text-on-primary);
}

@media (min-width: 2000px) {
  html {
    font-size: 24px;
  }
}

:root {
  --background: #F8F5F1;
  --background-dark: #1e1e1e;
  --foreground: #171717;

  --surface: #ffffff;
  --surface-dark: #232323;
  --on-surface: #1e1e1e;
  --on-surface-dark: #FDF4E6;
  /* Button Variables */

  --btn-primary-base: #98c273;
  --btn-primary-border: #60794b;
  --btn-primary-surface: #c8ff99;
  --btn-primary-text: #1e1e1e;


  --btn-secondary-base: #d4bfa4;
  --btn-secondary-border: #7e7a75;
  --btn-secondary-surface: #f8f5f1;
  --btn-secondary-text: #1e1e1e;
  --btn-secondary-hover-base: #E6D8C7;
  --btn-secondary-hover-border: #ED9A00;

  --btn-tertiary-base: #fb7185;
  --btn-tertiary-border: #be123c;
  --btn-tertiary-surface: #ffe4e6;
  --btn-tertiary-text: #881337;

  /* Font Color */
  --text-500: #AAAAAA;
  --text-on-primary: #948C6B;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}